body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fefdff;  /* fallback for old browsers */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .nav-wrapper {
  background-color: #7BDFF2;
} */

.tabs .tab a{
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#eee;
  color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#888;
  color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#000;
} /*Color of underline*/

.dropdown-content {
  width: 150px !important;
  top: 70px !important;
}

.circle {
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.fa {
  padding-right: 10px;
  font-size: 25px;
}

#submit-search {
  text-align: center;
  margin: 16px auto 0px auto;
}

.center {
  text-align: center;
}

.v-align {
  /* only works with partent element display: table */
  vertical-align: middle;
}

.right {
  text-align: right;
}

.form-heading {
  font-size: 1.35rem;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 8px;
}

.btn-light {
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #084c61;
  color: #ffc857;
}

.btn-dark {
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #3d9aae;
  color: #ffc857;
}

.btn-light:hover {
  background-color: #8d99ae;
}

.btn-dark:hover {
  background-color: #8d99ae;
}

.btn-rounded-light {
  height: 32px;
  width: 108px;
  margin: 8px;
  border: 1px solid #ffc857;
  border-radius: 32px;
  display: table-cell;
  vertical-align: middle;
  background-color: #084c61;
  color: #ffc857;
}

.btn-rounded-dark {
  height: 32px;
  width: 108px;
  margin: 8px;
  border-radius: 32px;
  display: table-cell;
  vertical-align: middle;
  background-color: #3d9aae;
  color: #ffc857;
}

.btn-rounded-light:hover {
  background-color: #3d9aae;
}

.btn-rounded-dark:hover {
  background-color: #084c61;
}

.nav-btn-light {
  height: 32px;
  width: 108px;
  margin: auto 4px;
  border: 1px solid #ffc857;
  border-radius: 32px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #084c61;
  color: #ffc857;
}

.nav-btn-dark {
  height: 32px;
  width: 108px;
  margin: auto 4px;
  border: 1px solid #ffc857;
  border-radius: 32px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #3d9aae;
  color: #ffc857;
}

.nav-btn-light:hover {
  background-color: #3d9aae;
}

.nav-btn-dark:hover {
  background-color: #084c61;
}

.nav-btn-light:active, .nav-btn-light:focus {
  color: #fefdff;
  border-color: #fefdff;
}

.nav-btn-dark:active, .nav-btn-dark:focus {
  color: #fefdff;
  border-color: #fefdff;
}

.nav-btn-text {
  display: block;
  margin-top: -18px;
}

@media only screen and (max-width: 992px) {
  .nav-btn {
    margin: 2px;
    width: auto;
    border-radius: 0;
    display: block;
    text-align: center;
  }

  .nav-btn-text {
    margin: 0;
    color: white;
  }
}
