body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper {
  background-color: #7BDFF2;
}

#home-container {
  text-align: center;
}

.tabs .tab a{
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#eee;
  color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#888;
  color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#000;
} /*Color of underline*/

.dropdown-content {
  width: 150px !important;
  top: 70px !important;
}

.circle {
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.fa {
  padding-right: 10px;
  font-size: 25px;
}

.footer {
  background-color: #86CDCF;
  color: white;
  bottom: 0;
}

.btn {
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #7bdff2;
}

.btn:hover {
  background-color: #86CDCF;
}