#searchInput ul.autocomlete-content, #searchInput ul.dropdown-content {
  display: block;
  left: 2% !important;
  top: 50px !important;
  width: 96% !important;
}

.row .col .input-field {
  float: none;
}
