.btn-rounded {
  height: 36px;
  width: auto;
  border-radius: 36px;
  display: table-cell;
  vertical-align: middle;
}

.nav-btn {
  color: white;
  background-color: firebrick;
  border: 2px solid firebrick;
  margin-right: 12px;
}

.nav-user-icon {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transform: translateY(1px);
}

.nav-username {
  display: inline-block;
  margin-left: 8px;
  transform: translateY(-7px);
}

.svg-inline--fa.fa-w-16.nav-user-fa-icon {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transform: none;
}

.nav-username-fa {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  transform: translateX(2px);
}
