.nav-user-icon {
  border: 1px solid #ffc857;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transform: translateY(1px);
}

.nav-username {
  display: inline-block;
  margin-left: 8px;
  transform: translateY(-7px);
}

.svg-inline--fa.fa-w-16.nav-user-fa-icon {
  border: 1px solid #ffc857;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transform: none;
}

.nav-username-fa {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  transform: translateX(2px);
}

#nav-dropdown.dropdown-content {
  top: -13px;
  width: 100% !important;
  background: #084c61;
  border: none;
}

#nav-dropdown.dropdown-content li>a {
  text-align: center;
  color: #3d99ae;
}

#nav-dropdown.dropdown-content li.divider {
  background: #ffc857;
}