.no-bottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.snip-page-container {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

.snip-header {
  font-size: 1.25rem;
  margin: 24px auto 12px auto;
}

.snip-content {
  margin-left: 8px;
  margin-right: 8px;
}

.snip-body {
  font-size: 1rem;
  margin: 12px auto;
}

.snip-page-button {
  margin: 4px 8px 8px 4px;
  width: 108px;
}

.snip-page-button-icon {
  font-size: 22px;
  margin-bottom: -2px;
}

.snip-page-button-text {
  font-size: 18px;
  margin-right: 8px;
}