.feed-item {
  border-bottom: 1px solid #dbdbdb;
  margin-top: 24px;
  margin-bottom: 24px;
  min-height: 48PX;
}

.feed-heading {
  font-size: 1.35rem;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 8px;
}

.feed-item-link {
  min-height: 42px;
}

.feed-item-language-icon {
}

.feed-user-icon {
  border-radius: 50%;
  margin-right: 6px;
}

.rel-wrapper {
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .feed-user-icon {
    position: absolute;
    right: 4px;
    bottom: -36px;
  }
}
