.form-textarea {
  margin-top: 4px;
  padding: 8px 8px;
  border: none;
  resize: none;
  min-height: 72px;
  background: white;
  color: #41ead4;
  outline-color: #41ead4;
}

.form-button {
  margin: 4px 4px 0px 0px;
  width: 108px;
}

.button-with-icon {
  line-height: 24px;
}

.form-button-icon {
  font-size: 22px;
  margin-bottom: -2px;
}

.form-button-text {
  font-size: 18px;
  margin-right: 8px;
}
