textarea {
  margin-top: 4px;
  padding: 8px 8px;
  resize: none;
  height: 200px;
  background: white;
}

.no-bottom {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.fa {
  padding-right: 0px !important;
}

.btn {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
