.username-row {
  margin-bottom: 8px;
}

.login-card {
  margin-top: 32px;
  border: 1px solid #8d99ae;
  border-radius: none;
  background-color: #e9e9e9;
  position: relative;
  height: 416px;
}

.login-form {
  margin: 48px auto;
}

.login-form label {
  margin-top: -.15rem;
}

.input-field input.login-input {
  padding-left: 8px;
  margin-bottom: 0px;
  border: 1px solid #3d99ae;  
  border-radius: 3px;
  color: #8d99ae;
  background-color: #fefdff;
}

.input-field label {
  padding-left: 8px;
}

/* label focus color */
.input-field input.login-input:focus + label {
  color: #3d99ae !important;
}

/* label underline focus color */
.input-field input.login-input:focus {
  border-bottom: 1px solid #3d99ae !important;
  box-shadow: 2px 2px 2px #3d99ae !important;
}

.login-tabs .tab a {
  color: #ffc857 !important;
  /*Custom Text Color*/
}

.login-tabs .tab a:hover {
  background-color:#fefdff !important;
  /*Custom Color On Hover*/
}

.login-tabs .tab a.active {
  background-color: #084c61 !important;
}

.login-tabs .tab a:focus.active  {
  color:#ffc857 !important;
  /*Custom Text Color While Active*/
  background-color: #084c61;
  /*Custom Background Color While Active*/
}

.login-tabs .indicator {
  background-color:#084c61 !important;
  /*Custom Color Of Indicator*/
}

.login-submit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.login-error {
  font-size: 10px;
  margin-left: 8px;
  color: #3d99ae;
  transform: translateY(-12px);
}

.login-error-message {
  font-size: 10px;
  margin: 0px 0px 8px 8px;
  color: #3d99ae;
}

.login-error-ul {
  transform: translateY(-12px);
}

.login-error-li {
  font-size: 10px;
  margin-left: 16px;
  color: #3d99ae;
}

.login-btn {
  width: 108px !important;
  height: 36px;
  border-radius: 36px;
}
